@tailwind base;
@tailwind components;
@tailwind utilities;

/* LG EI Headline */

@font-face {
  font-family: 'LG EI Headline Bold';
  src: url('/public/font/LG-EI-Headline-otf/LGEIHeadline-Bold.otf') format('woff2');
}

@font-face {
  font-family: 'LG EI Headline Light';
  src: url('/public/font/LG-EI-Headline-otf/LGEIHeadline-Light.otf') format('woff2');
}

@font-face {
  font-family: 'LG EI Headline Regular';
  src: url('/public/font/LG-EI-Headline-otf/LGEIHeadline-Regular.otf') format('woff2');
}

@font-face {
  font-family: 'LG EI Headline Semibold';
  src: url('/public/font/LG-EI-Headline-otf/LGEIHeadline-Semibold.otf') format('woff2');
}

@font-face {
  font-family: 'LG EI Headline Thin';
  src: url('/public/font/LG-EI-Headline-otf/LGEIHeadline-Thin.otf') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'LG EI Headline Regular';
}

body {
  width: 100%; /* ✅ 80% 제거 */
  margin: 0; /* ✅ auto 제거 */
  min-height: 100%;
  margin: auto;
  font-size: inherit; /* 16px */
}

/*toastify 기본속성이 적용되어 tailwind로 안되서 전역으로 important해서 적용 */
.Toastify__toast {
  min-height: unset !important; /* unset : 해당 속성이 상속 가능한 속성일 때는 inherit 상속되지 않는 속성일 때는 initial  */
  padding: 8px 4px !important;
  margin: 4px 0 !important;
  border-radius: 6px !important;
}

/*스크롤바 안보이게 */
.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
